
</div>
<div class="white"></div>
<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/shivam-gupta1999"><i class="fab fa-2x foot-icon fa-linkedin"></i></a>
  <a class="footer-link" href="https://twitter.com/chinu__1999"><i class="fab fa-2x foot-icon fa-twitter"></i></a>
  <a class="footer-link" href="https://www.instagram.com/chinu__1999/?hl=en"><i class="fab fa-2x foot-icon fa-instagram"></i></a>
  <p class="footer-text">© 2020 BlogTown</p>
  <p class="footer-text">Designed and Developed by<a href="https://chinu1999.github.io/MyCV/">Shivam Gupta</a> </p>
</div>
</body>
</html>
