<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BlogTown</title>
  <meta charset="utf-8">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/36cac1c4eb.js" crossorigin="anonymous"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>
<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">BlogTown</p>
    </div>
  </div>
</nav>
  <body>
    <div>
          <div>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
            <hr />
          </div>
    </div> -->

  <div class="jumbotron">
  <h1 class="display-4">BlogTown</h1>
  <p class="lead">We smash you with the information that will make your life easier.</p>
  <hr class="my-4">
  <p>Login or create an account today!</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</div>

<%- include('partials/footer') %>
