<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BlogTown</title>
  <meta charset="utf-8">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/36cac1c4eb.js" crossorigin="anonymous"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">BlogTown</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
  </nav>

<div class="container mt-5">
  <h1 class="form-group">Login</h1>
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <div class="form-group">
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control width" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control width" name="password">
            </div>
            <button type="submit" class="btn btn-dark form-group">Login</button>
          </form>
      </div>
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google width" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
    </div>
    </div>
    </div>
</div>

<%- include('partials/footer') %>
